# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env

# 这个参数需要是mysql的
DATABASE_URL="mysql://localhost/opengpt"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

DISCORD_WEBHOOK_URL=""
DISCORD_ALERT_URL=""

# 这个参数可以随便填，因为实际没有用到，只是应付程序检查为空
OPENAI_API_KEY=""
OPENAI_API_URL="https://openai.yingjin.pro"
PAID_OPENAI_API_KEY=""

# upstash
# 以下两个参数必填，需要去upstash注册一个账号
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# prompt secret
PROMPT_SECRET="" # only need be random string
DEPLOY_URL=""

# server secret
# for revalidate
SERVER_SECRET=""


NEXT_PUBLIC_PURCHASE_URL=""

# 在生产环境下，一来这个url
VERCEL_URL=open.mbmzone.com
